/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
@media (max-width:599px)  { 
    .project-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100%;
        box-sizing: border-box;
        padding-left: 4%;
        padding-right: 4%;
    }
    .project-title{
        font-size: var(--titleFontSize);
        font-weight: bolder;
    }
    .project-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
@media (min-width:600px)  { 
    .project-div{
        display: flex;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        margin-top: 30%;
        margin-bottom: 30%;
        box-sizing: border-box;
        padding-left: 4%;
        padding-right: 4%;
    }
    .project-title{
        font-size: var(--mdTitleFontSize);
        font-weight: bolder;
        text-align: center;
        height: 100%;
        width: 50%;
        position: sticky;
        top: 10%;
        overflow: hidden;
    }
    .project-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 50%;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px)  {  

}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) { 

}

/* hi-res laptops and desktops */
@media (min-width:1281px){

}